#cart {
  padding: 40px 80px;
}

.cartCargo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartCargo a {
  text-decoration: none;
  color: crimson;
  letter-spacing: 1px;
  margin-left: 20px;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 100%;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

#cart table tbody td {
  font-size: 15px;
}

#cart table td:nth-child(1) button {
  border: none;
  background-color: transparent;
  color: crimson;
}

#cart table td:nth-child(4) select {
  padding: 10px 5px 10px 15px;
  width: 70%;
}

#cart table td:nth-child(1),
#cart table td:nth-child(4),
#cart table td:nth-child(5) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 160px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 110px;
  text-align: center;
}

#cart table td:nth-child(6) {
  width: 100px;
  padding: 10px;
}

#cart table td:nth-child(6) input {
  width: 70%;
  padding: 10px 5px 10px 15px;
}
#cart table td:nth-child(6) input:focus {
  outline: none;
}

#cart-add {
  display: flex;
  justify-content: center;
  padding: 40px 80px;
}

#subtotal h3 {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

#cart-add #subtotal {
  width: 60%;
  margin-bottom: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  font-size: 16px;
  padding: 10px;
}

#subtotal button {
  background-color: #088178;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

@media (max-width: 950px) {
  #cart table td:nth-child(4) select {
    padding: 7px 3px 7px 10px;
    width: 70%;
  }

  #subtotal h3 {
    font-size: 25px;
  }

  #cart {
    padding: 40px 10px;
  }
  #cart-add {
    padding: 40px 20px;
  }

  #subtotal table td {
    font-size: 14px;
  }

  #cart table td:nth-child(1) {
    width: 50px;
    text-align: center;
    font-size: 15px;
  }
  #cart table td:nth-child(2) {
    width: 70px;
    text-align: center;
    font-size: 15px;
  }
  #cart table td:nth-child(3) {
    width: 180px;
    text-align: center;
    font-size: 15px;
  }
  #cart table td:nth-child(4),
  #cart table td:nth-child(5) {
    width: 100px;
    text-align: center;
    font-size: 15px;
  }

  #cart table td:nth-child(6) input {
    padding: 7px 3px 7px 10px;
  }
}

@media (max-width: 770px) {
  #cart-add #subtotal {
    width: 80%;
  }

  .cartCargo a {
    font-size: 13px;
  }

  #subtotal button {
    font-size: 12px;
    padding: 13px 18px;
  }
}

@media (max-width: 640px) {
  #cart {
    padding: 40px 0px 40px 5px;
  }

  #cart table td:nth-child(1) {
    width: 30px;
    font-size: 13px;
  }

  #cart table td:nth-child(2) {
    width: 50px;
    font-size: 13px;
  }

  #cart table td:nth-child(3) {
    width: 105px;
    font-size: 13px;
  }

  #cart table td:nth-child(4),
  #cart table td:nth-child(5) {
    width: 40px;
    font-size: 13px;
  }

  #cart table td:nth-child(6) {
    width: 60px;
  }
}

@media (max-width: 520px) {
  #cart table td:nth-child(4) select {
    padding: 3px 1px 3px 5px;
    width: 100%;
    font-size: 10px;
  }

  #cart {
    padding: 40px 0px;
  }

  #cart table td {
    font-size: 10px;
  }
  #cart table td:nth-child(1) {
    width: 20px;
    padding-left: 5px;
    font-size: 10px;
  }
  #cart table td:nth-child(2) {
    width: 40px;
    font-size: 10px;
  }

  #cart table td:nth-child(3) {
    width: 90px;
    font-size: 10px;
  }

  #cart table td:nth-child(4),
  #cart table td:nth-child(5) {
    width: 40px;
    font-size: 10px;
  }

  #cart table td:nth-child(6) {
    width: 40px;
    font-size: 10px;
  }
}

@media (max-width: 430px) {
  #subtotal h3 {
    font-size: 20px;
  }

  #cart-add #subtotal {
    width: 100%;
  }

  #subtotal button {
    font-size: 12px;
    padding: 13px 18px;
  }

  #cart table td:nth-child(1) {
    padding-left: 0;
    width: 10px;
    font-size: 9px;
  }
  #cart table td:nth-child(2) {
    width: 25px;
    font-size: 9px;
  }
  #cart table td:nth-child(3) {
    width: 35px;
    font-size: 8px;
  }
  #cart table td:nth-child(4),
  #cart table td:nth-child(5) {
    width: 16px;
    font-size: 9px;
  }

  #cart table td:nth-child(6) {
    width: 20px;
    font-size: 9px;
    padding-left: 3px;
  }

  #cart table td:nth-child(6) input {
    padding: 4px 2px 4px 6px;
    width: 70%;
    font-size: 9px;
    font-weight: 500;
  }

  #cart-add {
    padding: 10px;
  }

  .cartCargo a {
    margin-left: 0;
  }
}
