#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  font-size: 14px;
  margin: 0;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: center;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-details form span {
  font-size: 12px;
}

#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background: #088178;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  #contact-details {
    display: flex;
    padding: 30px;
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
  }
  #contact-details .map {
    margin-top: 30px;
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 750px) {
  #form-details form button {
    font-size: 12px;
    padding: 13px 18px;
  }

  #form-details form {
    width: 80%;
  }
}
