#sm-banner {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: flex-start;
  background-image: url("https://res.cloudinary.com/dmu4nnfdg/image/upload/v1690638654/new_d5xuct.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  transition: transform 0.3s ease;
}

#sm-banner .banner-box:hover {
  transform: scale(1.05);
}

#sm-banner .banner-box:nth-child(2) {
  background-image: url("https://res.cloudinary.com/dmu4nnfdg/image/upload/v1690638654/barch_whzipl.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: rgba(42, 42, 42, 0.475);
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  background-color: rgba(42, 42, 42, 0.475);
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  background-color: rgba(42, 42, 42, 0.475);
}

/* Banner3 */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("https://res.cloudinary.com/dmu4nnfdg/image/upload/v1690510232/misr_otregw.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

#banner3 .banner-box:hover {
  transform: scale(1.05);
}

#banner3 .banner-box:nth-child(2) {
  background-image: url("https://res.cloudinary.com/dmu4nnfdg/image/upload/v1690510231/span_uk9cix.jpg");
}

#banner3 .banner-box:nth-child(3) {
  background-image: url("https://res.cloudinary.com/dmu4nnfdg/image/upload/v1690510231/australia_vhrvsh.jpg");
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: crimson;
  font-weight: 800;
  font-size: 15px;
}

@media (max-width: 1320px) {
  #sm-banner {
    flex-wrap: wrap;
  }

  #sm-banner .banner-box {
    width: 100%;
  }

  #sm-banner .banner-box:nth-child(2) {
    margin-top: 20px;
  }

  #banner3 .banner-box {
    min-width: 45%;
  }
}

@media (max-width: 799px) {
  #sm-banner {
    padding: 40px 40px;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
}

@media (max-width: 799px) {
  /* Banner3 Media */
  #banner3 {
    padding: 0 40px;
    flex-direction: column;
  }
}

@media (max-width: 477px) {
  #sm-banner {
    padding: 20px;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner h4 {
    font-size: 16px;
  }
  #sm-banner h2 {
    font-size: 23px;
    line-height: 35px;
  }
  #sm-banner span {
    font-size: 13px;
    padding-bottom: 13px;
  }

  /* Banner3 */
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #banner3 h2 {
    font-size: 15px;
  }
  #banner3 h3 {
    font-size: 14px;
  }
}
