#page-header {
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

.about-bg {
  background-image: url(https://res.cloudinary.com/dmu4nnfdg/image/upload/v1690594166/banner_uuecsg.png);
}

#page-header h2 {
  font-size: 46px;
  line-height: 54px;
  color: #fff;
}

#page-header p {
  font-size: 16px;
  margin: 15px 0 20px 0;
  color: #fff;
}

@media (max-width: 477px) {
  #page-header h2 {
    font-size: 30px;
  }

  #page-header p {
    font-size: 14px;
  }
}
